.git
.gitignore
.vscode
*.code-workspace
node_modules
out
dist
*.vsix
**/*.map
**/*.ts
!**/*.d.ts
test
.prettierrc
.eslintrc*
webpack.config.js
tsconfig.json
vsce.json
build/
src/
tests/
coverage/
.env
.env.local
*.md
!README.md
!LICENSE
